{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>

    .hero {
        margin: 1rem 0 2rem 0;
    }

    .hero h1 {
        margin: 0;
    }

    .hero h2 {
        color: var(--md-default-fg-color--light);
        margin-top: 0.5rem;
    }

    img#company-logo {
        display: none;
        float: right;
        width: 200px;
        height: 57px; 
    }
    
    @media screen and (min-width:600px) {
        img#company-logo {
            display: block;
        }    
    }

    .cards-section ul {
        list-style: none;
        margin: 0;
    }

    .cards-section li {
        margin: 0;
        padding: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .grid > grid-item {
        display: flex;
        align-content: stretch;
        align-items: stretch;
    }

    .grid > .grid-item > * {
        width: 100%;
        height: 100%;
    }

    .media-card {
        border-radius: 0.5rem;
        border: 1px solid white;
        box-shadow: 0 1.6px 3.6px 0 rgb(0,0,0,0.13), 0 0.3px 0.9px 0 rgb(0,0,0,0.11);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
    }

    .media-card .media-card-image {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding-top: 40%;
    }

    .media-card-image {
        padding-bottom: 3rem !important;
    }

    .media-card img {
        display: block;
        object-fit: cover;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .media-card object {
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .media-card-content {
        padding: 1rem;
    }

    .media-card-content h2 {
        margin: 0;
    }

    ul.media-card-content-body-links, ul.media-card-content-body-links li {
        margin: 0 !important;
    }

    main .md-content {
        overflow: visible;
    }

    main article {
        margin: 0 !important;
        padding: 1rem !important;
        border-radius: 0.5rem;
        border: 1px solid white;
        box-shadow: 0 1.6px 3.6px 0 rgb(0,0,0,0.13), 0 0.3px 0.9px 0 rgb(0,0,0,0.11);
    }

    main article h1 {
        display: none;
    }

    main article h2:first-of-type {
        margin-top: 0;
    }

</style>
<section class="tx-container">
    <div class="md-grid">

        <div class="hero md-typeset">
            <img id="company-logo" src="assets/hero/applied-logo.png" alt="McLaren Applied Logo" draggable="false" />
            <h1 style="margin-bottom: 0">High-Resolution Real-time Telemetry Acquisition and Display</h1>
            <h2 role="doc-subtitle">for engineering projects with demanding telemetry requirements</h2>
        </div>

        <div class="cards-section">
            <ul class="grid">
                <li class="grid-item">
                    <article class="media-card">
                        <figure class="media-card-image">
                            <img src="assets/hero/hpc.jpg">
                        </figure>
                        <div class="media-card-content md-typeset">
                            <div class="media-card-content-titles">
                                <h2>User Guide</h2>
                            </div>
                            <div class="media-card-content-body">
                                <p>Help and information for both new and experienced users.</p>
                                <ul class="media-card-content-body-links">
                                    <li><a href="manual/">Quick-Reference Guide</a></li>
                                </ul>                                
                            </div>
                        </div>
                    </article>
                </li>
                <li class="grid-item">
                    <article class="media-card">
                        <figure class="media-card-image">
                            <img src="assets/hero/code.png">
                        </figure>
                        <div class="media-card-content md-typeset">
                            <div class="media-card-content-titles">
                                <h2>Developer Guide</h2>
                            </div>
                            <div class="media-card-content-body">
                                <p>Extend ATLAS with plugins, and work with McLaren telemetry recorders and data.</p>
                                <ul class="media-card-content-body-links">
                                    <li><a href="developer/nuget/">Get NuGet libraries</a></li>
                                    <li><a href="developer/sqlrace-api/">Reading, writing &amp; recording data</a></li>
                                    <li><a href="developer/atlas-displayapi/">Create custom ATLAS displays</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="grid-item">
                    <article class="media-card">
                        <figure class="media-card-image">
                            <object type="image/svg+xml" data="assets/hero/architecture.svg" class="diagram" title="ATLAS integration architecture"></object>
                        </figure>
                        <div class="media-card-content md-typeset">
                            <div class="media-card-content-titles">
                                <h2>Integration Guide</h2>
                            </div>
                            <div class="media-card-content-body">
                                <p>Connect ATLAS to existing data environments: on-premises and on-cloud.</p>
                                <ul class="media-card-content-body-links">
                                    <li><a href="integration/">Overview and Architectures</a></li>
                                    <li><a href="integration/devguide/">Developer Guide with tutorials</a></li>
                                    <li><a href="integration/api/">REST API</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>

        </div>

    </div>
</section>
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block footer %}{% endblock %}